.animated-border {
    width: 300px;
    height: 300px;
    border: 5px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
    animation: changeBorderColors 4s linear infinite;
    text-align: center;
    color: skyblue;
    font-size: 45px;
    font-family: cursive;
}

@keyframes changeBorderColors {
    0%, 100% { border-color: red; }
    16% { border-color: orange; }
    32% { border-color: yellow; }
    48% { border-color: green; }
    64% { border-color: blue; }
    80% { border-color: indigo; }
    96% { border-color: violet; }
}
body {
    background: #c193c5;
}